In [1]:
# Dependencies

import pandas as pd
import numpy as np

csvfile = 'purchase_data.csv'

purchase_df = pd.read_csv(csvfile)

In [2]:
# Checking the data..

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Player Count

playerUnique = purchase_df['SN'].unique()
playerCount = len(playerUnique)
countSum = pd.DataFrame([{
    'Total Players': playerCount
}])

countSum

   Total Players
0            576

In [4]:
# Purchasing Analysis (Total)

itemUnique = purchase_df['Item ID'].unique()
itemCount = len(itemUnique)
averagePrice = purchase_df['Price'].mean()
purchaseNumber = purchase_df['Purchase ID'].count()
totalRevenue = purchase_df['Price'].sum()

analysisSum = pd.DataFrame([{
    'Number of Unique Items': itemCount,
    'Average Price': averagePrice,
    'Number of Purchases': purchaseNumber,
    'Total Revenue': totalRevenue
}])

analysisSum = analysisSum[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

analysisSum['Average Price'] = analysisSum['Average Price'].map('${:,.2f}'.format)
analysisSum['Total Revenue'] = analysisSum['Total Revenue'].map('${:,.2f}'.format)

analysisSum

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [5]:
# Gender Demographics

playerList = purchase_df.drop_duplicates('SN')
genderCount = playerList['Gender'].value_counts()
genderPercent = round(genderCount / playerCount * 100, 2)

genderSum = pd.DataFrame({
    'Total Count': genderCount,
    'Percentage of Players': genderPercent
})

genderSum = genderSum[['Total Count', 'Percentage of Players']]

genderSum

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [6]:
# Purchasing Analysis (Gender)

genderGroup = purchase_df.groupby('Gender')

genderPurchase = genderGroup['SN'].count()
genderAverage = genderGroup['Price'].mean()
genderRevenue = genderGroup['Price'].sum()
genderPer = genderRevenue / genderCount

genderAnalysis = pd.DataFrame({
    'Purchase Count': genderPurchase,
    'Average Purchase Price': genderAverage,
    'Total Purchase Value': genderRevenue,
    'Avg Total Purchase per Person': genderPer
})

genderAnalysis['Average Purchase Price'] = genderAnalysis['Average Purchase Price'].map('${:,.2f}'.format)
genderAnalysis['Total Purchase Value'] = genderAnalysis['Total Purchase Value'].map('${:,.2f}'.format)
genderAnalysis['Avg Total Purchase per Person'] = genderAnalysis['Avg Total Purchase per Person'].map('${:,.2f}'.format)

genderAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
# Age Demographics

ageBin = [0, 9, 14, 19, 24, 29, 34, 39, purchase_df['Age'].max()]
ageLabel = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_df['Age Group'] = pd.cut(purchase_df['Age'], ageBin, labels = ageLabel)

ageList = purchase_df.drop_duplicates('SN')
ageCount = ageList['Age Group'].value_counts()
agePercent = round(ageCount / playerCount * 100, 2)

ageSum = pd.DataFrame({
    'Total Count': ageCount,
    'Percentage of Players': agePercent
}).sort_index()

ageSum

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [8]:
# Purchasing Analysis (Age)

ageGroup = purchase_df.groupby('Age Group')

agePurchase = ageGroup['SN'].count()
ageAverage = ageGroup['Price'].mean()
ageRevenue = ageGroup['Price'].sum()
agePer = ageRevenue / ageCount

ageAnalysis = pd.DataFrame({
    'Purchase Count': agePurchase,
    'Average Purchase Price': ageAverage,
    'Total Purchase Value': ageRevenue,
    'Avg Total Purchas per Person': agePer
})

ageAnalysis['Average Purchase Price'] = ageAnalysis['Average Purchase Price'].map('${:,.2f}'.format)
ageAnalysis['Total Purchase Value'] = ageAnalysis['Total Purchase Value'].map('${:,.2f}'.format)
ageAnalysis['Avg Total Purchas per Person'] = ageAnalysis['Avg Total Purchas per Person'].map('${:,.2f}'.format)

ageAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchas per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

In [9]:
# Top Spenders

spendGroup = purchase_df.groupby('SN')

purchaseCount = spendGroup['SN'].count()
purchaseAverage = spendGroup['Price'].mean()
purchaseTotal = spendGroup['Price'].sum()

topSpenders = pd.DataFrame({
    'Purchase Count': purchaseCount,
    'Average Purchase Price': purchaseAverage,
    'Total Purchase Value': purchaseTotal
}).sort_values('Total Purchase Value', ascending = False)

topSpenders['Average Purchase Price'] = topSpenders['Average Purchase Price'].map('${:,.2f}'.format)
topSpenders['Total Purchase Value'] = topSpenders['Total Purchase Value'].map('${:,.2f}'.format)

topSpenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [10]:
# Most Popular Items

itemGroup = purchase_df.groupby('Item ID')

itemPurchaseCount = itemGroup['Item ID'].count()
itemTotal = itemGroup['Price'].sum()

itemSum = pd.DataFrame({
    'Purchase Count': itemPurchaseCount,
    'Total Purchase Value': itemTotal
})

itemList = purchase_df.drop_duplicates('Item ID')
itemList = itemList[['Item ID', 'Item Name', 'Price']]
itemSum = pd.merge(itemSum, itemList, on = 'Item ID', how = 'left')

itemSum = itemSum[['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purchase Value']]
itemSum = itemSum.rename(columns = {'Price': 'Item Price'})
itemSum = itemSum.set_index(['Item ID', 'Item Name'])

mostPopular = itemSum.sort_values('Purchase Count', ascending = False)
mostPopular['Item Price'] = mostPopular['Item Price'].map('${:,.2f}'.format)
mostPopular['Total Purchase Value'] = mostPopular['Total Purchase Value'].map('${:,.2f}'.format)

mostPopular.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [11]:
# Most Profitable Items

mostProfit = itemSum.sort_values('Total Purchase Value', ascending = False)
mostProfit['Item Price'] = mostProfit['Item Price'].map('${:,.2f}'.format)
mostProfit['Total Purchase Value'] = mostProfit['Total Purchase Value'].map('${:,.2f}'.format)

mostProfit.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80